 <%- include("templates/header.ejs")  %> 
  <body>
     <%- include("templates/navbar.ejs")  %> 
    <div class="container">
      <div class="row justify-content-center g-2 p-5">
        <h4 class="display-4">
           <img src="/img/404.png" alt="icon tarea" width="80px" />
          Página no encontrada
        </h4>
      </div>
    </div>
     <%- include("templates/footer.ejs")  %> 
  </body>
</html>
